* {
  text-decoration: none !important;
  font-family: "Outfit Variable", sans-serif;
  scroll-behavior: smooth;
}
:root {
  font-family: "Outfit Variable", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--dark100);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue100: #96b6c5;
  --blue200: #adc4ce;
  --cream100: #eee0c9;
  --cream200: #f1f0e8;
  --dark100: #1a1a1a;
}
.cursor {
  cursor: pointer;
}
.activeIcon {
  color: var(--blue100);
  font-weight: 700;
  will-change: filter;
  cursor: pointer;
}

.activeIcon:hover {
  color: var(--cream200);
  transition: 0.2s ease-in-out;
  filter: brightness(50%);
}
.no-activeIcon {
  color: var(--dark100);
}
.logout:hover {
  color: var(--cream200);
  transition: 0.2s ease-in-out;
  filter: brightness(50%);
  cursor: pointer;
}

.logo {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--blue100);
  color: var(--cream100);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 4em #646cffaa);
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: 400;
}

a:hover {
  color: var(--cream200);
  filter: brightness(50%);
  transition: 0.2s ease-in-out;
}

.form {
  width: 90%;
  padding: 2rem;
  background-color: var(--blue200);
  border-radius: 15px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  /* background: grey;
  border-radius: 20px; */
  margin-bottom: 30px;
}

.cardBox {
  position: relative;
}

.focus-content {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.focus-heart {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.arrowLeft {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--cream100);
  transition: all 0.5s ease;
}
.arrowRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--cream100);
  transition: all 0.5s ease;
}

.searchbox {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  height: 450px;
  overflow-y: scroll;
}

.scrollbody {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbody::-webkit-scrollbar {
  display: none;
}

.btn-style {
  transition: 0.2s ease-in-out;
}
.btn-style:hover {
  opacity: 0.8 !important;
}
.btn-style:focus,
.btn-style:focus-visible {
  outline: 4px auto -webkit-focus-ring-color !important;
}

.hovershade:hover {
  background-color: var(--cream200);
  transition: 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .form {
    width: 420px;
  }
  .searchbox {
    width: 500px;
    top: 250px;
  }
}
@media (min-width: 1200px) {
  .page-adjust {
    max-width: calc(100% - 80px) !important;
    margin: 0 80px !important;
  }
  .desktop-width {
    width: 80px;
  }
  .cardBox {
    overflow: hidden;
  }

  .cardBox *,
  .pinId-Img * {
    transition: 0.3s ease all;
  }
  .cardBox img {
    margin: 0;
    width: 300px;
    height: 224px;
    object-fit: cover;
    display: block;
  }

  .cardBox:hover img {
    background-color: var(--dark100);
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    transition: 0.3s ease-in-out;
  }
  .cardBox .focus-content {
    display: block;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
  .cardBox .focus-heart {
    display: flex;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }
  .cardBox:hover .focus-content,
  .cardBox:focus-within .focus-content {
    opacity: 1;
  }
  .cardBox:hover .focus-heart,
  .cardBox:focus-within .focus-heart {
    opacity: 1;
  }

  .pinId-Img:hover {
    transition: 0.3s ease-in-out;
  }
  .pinId-Img .focus-arrowBox {
    opacity: 0;
  }
  .pinId-Img:hover .focus-arrowBox,
  .pinId-Img:focus-within .focus-arrowBox {
    opacity: 1;
  }
}
