* {
  text-decoration: none !important;
  font-family: "Outfit Variable", sans-serif;
  scroll-behavior: smooth;
}
:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --blue100: #309ed1;
  --blue200: rgb(146, 170, 158);
  --cream100: #f1d3a4;
  --cream200: #f1f0e8;
  --dark100: #1a1a1a;
  --orange100: #dd5e14;
  --color-Light: #fafafa;
  --color-Dark: #0f1212;
}

body.dark {
  background-color: var(--color-Dark);
  color: var(--color-Light);
  --image-grayscale: 20%;
  --image-opacity: 90%;
  --color-Light: #fafafa;
  --color-Dark: #0b0c0c;
}

img {
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity)) !important;
}

a {
  color: inherit !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--orange100) !important;
  background-color: white !important;
  border: none;
  border-bottom: 2px solid var(--orange100) !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-tabs .nav-link {
  color: var(--blue200);
}
.nav-tabs .nav-link:hover {
  color: gray;
}

.cursor {
  cursor: pointer;
}

/* routes transition */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* login register */
.backdrop {
  background-image: url(./assets/jakob-owens-T5UZ1_1KsGY-unsplash_gcear9.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* general */
.activeIcon {
  color: var(--orange100) !important;
  font-weight: 700;
  will-change: filter;
  cursor: pointer;
}

.activeIcon:hover {
  color: var(--cream200) !important;
  transition: 0.3s ease-in-out;
  filter: brightness(50%);
}

.no-activeIcon {
  color: var(--dark100);
}
.no-activeIcon:hover {
  color: var(--orange100) !important;
  transition: 0.3s ease-in-out;
  filter: brightness(80%);
}

.logout:hover {
  color: var(--orange100);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.item:hover {
  color: var(--cream200);
  filter: brightness(70%);
  transition: 0.2s ease-in-out;
}

.form {
  width: 90%;
  padding: 2rem;
  border-radius: 15px;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.cardBox {
  position: relative;
}

.focus-content {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.focus-heart {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.searchbox {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  height: 400px;
  overflow-y: scroll;
}

.scrollbody {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbody::-webkit-scrollbar {
  display: none;
}

.btn-style {
  transition: 0.3s ease-all;
}
.btn-style:hover {
  opacity: 0.8 !important;
}
.btn-style:focus,
.btn-style:focus-visible {
  outline: 4px auto -webkit-focus-ring-color !important;
}

.hovershade:hover {
  background-color: var(--cream200);
  transition: 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .form {
    width: 420px;
  }
  .searchbox {
    width: 50%;
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .page-adjust {
    max-width: calc(100% - 100px) !important;
    margin: 0 100px !important;
  }

  .sidebar-width {
    width: 100px;
  }

  .cardBox {
    overflow: hidden;
  }

  .cardBox *,
  .pinId-Img * {
    transition: 0.3s ease all;
  }
  .cardBox img {
    margin: 0;
    width: 300px;
    height: 224px;
    object-fit: cover;
    display: block;
  }

  .cardBox:hover img {
    background-color: var(--dark100);
    width: 100%;
    height: 100%;
    filter: brightness(60%) !important;
    transition: 0.3s ease-in-out;
  }
  .cardBox .focus-content {
    display: block;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
  }
  .cardBox .focus-heart {
    display: flex;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }
  .cardBox:hover .focus-content,
  .cardBox:focus-within .focus-content {
    opacity: 1;
  }
  .cardBox:hover .focus-heart,
  .cardBox:focus-within .focus-heart {
    opacity: 1;
  }

  .pinId-Img:hover {
    transition: 0.3s ease-in-out;
  }
  .pinId-Img .focus-arrowBox {
    opacity: 0;
  }
  .pinId-Img:hover .focus-arrowBox,
  .pinId-Img:focus-within .focus-arrowBox {
    opacity: 1;
  }
}
